#border {
    box-sizing: border-box;
    border-style: solid;
}

#border-top {
    border-top: 5px solid;
    padding: 20px;
}

.icon {
    height: 20px;
    width: 20 px;
}

.portrait {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.picture {
    width: 200px;
    height: 200px;
}

.App {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.App-content {
    height: 100%;
    display: inline-table;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

@media (min-width: 650px) {
    .App {
        background-position: center center;
    }
    .App-content {
        align-items: flex-end;
        justify-content: center;
    }
}